body {
    font-family: 'Inter';
    font-weight: 400;
    background: #fff;
}

body main {
    background: #f5f5f5;
}


h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #010E87;
    margin-bottom: 25px;
    letter-spacing: -0.02em;
}

body main h1 {
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

h2 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #010E87;
    margin-bottom: 11px;
    letter-spacing: -0.02em;
}
h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
}

.heading,
.bg-light {
    background: #000 url(img/top-bg.jpg) 50% 50%;
    padding: 60px 0 0;
    background-size: cover;

}

.heading .container {
    position: relative;
    height: 670px;
}

.heading .text-muted {
    color: #fff;
    font-size: 14px;
}

.intro-text {
    max-width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.logo-box {
    margin-bottom: 25px;
}

.search-box {
    margin: 28px auto 25px;
    width: 570px;
}

.search-box input {
    height: 40px;
    background: #fff;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #fff;
}

.search-box .btn-primary {
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    background: #fff;
    padding-left: 20px;
    font-size: 22px;
    line-height: 22px;
    color: #3D4DB6;
    border: 1px solid #fff;
    border-radius: 0 8px 8px 0;
}

.feature-wrapper {
    position: absolute;
    bottom: -100px;
    left: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.feature-box {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    padding: 24px 24px 60px 24px;
    border-radius: 8px;
    position: relative;
    transition: box-shadow .25s ease, transform .25s ease;
}

.feature-box:hover {
    box-shadow: 14px 12px 10px rgba(0, 0, 0, 0.05);
}

.feature-icon {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 35px;
}

.feature-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    text-decoration: none;
    text-align: left;
    margin-bottom: 14px;
    display: block;
    float: left;
    width: 100%;
}

.feature-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-decoration: none;
    text-align: left;
    display: block;
    float: left;
    width: 100%;
}

.feature-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.learn {
    padding: 250px 0 0;
}

.learn h2 {
    margin-bottom: 2.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.learn-icon {
    height: 105px;
    width: 105px;
    text-align: center;
    margin-bottom: 25px;
    vertical-align: middle;
    border-radius: 4px;
    float: left;
    margin-top: 5px;
    display: block;
    background: rgba(255, 242, 130, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-icon img {
    height: 75px;
    width: auto;
}

.learn-icon.icon-02 {
    background: rgba(255, 212, 130, 0.2);
}

.learn-icon.icon-03 {
    background: rgba(200, 255, 130, 0.2);
}

.learn-icon.icon-04 {
    background: rgba(130, 195, 255, 0.2);
}

.learn-icon.icon-05 {
    background: rgba(200, 130, 255, 0.2);
}

.learn-icon.icon-06 {
    background: rgba(255, 130, 220, 0.2);
}

.learn-wrapper .feature-title {
    margin-bottom: 8px;
}


.trainings {
    padding: 185px 0 100px;
}

.trainings .container {
    position: relative;
}

.more-link {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    text-decoration: none;
}

.trainings h3 {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 45px;
    font-size: 32px;
    text-align: left;
    line-height: 39px;
    color: #333;
}

.training-row {
    margin-bottom: 25px;
}

.training-row a {
    background: #D9D9D9;
    width: 100%;
    height: 95px;
    display: block;
}


.eosc-navy {
    padding: 75px 0 45px;
    background: #000745;
    color: #fff
}

.eosc-navy .eosc-logo-navy {
    width: 210px;
    height: auto;
    max-width: 100%
}

.eosc-navy h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: none;
    padding: 0;
    margin: 10px 0 0
}

.eosc-navy .eosc-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px
}

.eosc-navy .eosc-info .eosc-info-icon {
    margin-right: 20px;
    transition: all .5s ease
}

.eosc-navy .eosc-info:hover .eosc-info-icon {
    margin-top: 5px
}

.eosc-navy .eosc-info .eosc-info-texts .eosc-info-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-decoration: underline;
    margin-bottom: 19px;
    color: #fff
}

.eosc-navy .eosc-info .eosc-info-texts .eosc-info-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff
}


.questions {
    padding: 120px 0 150px;
    background: #fff;
}

.questions h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    margin: 35px 0 15px
}

.questions .questions-pic {
    margin: 55px 0 0 25px;
}


.questions .blue-link:hover {
    color: #000745
}

.questions #zammad-feedback-form {
    background: none;
    border: none
}

.questions .zammad-form-group {
    text-align: left
}

.questions .textarea {
    height: 180px
}

.questions .btn,
.questions .shepherd-content .shepherd-footer .shepherd-button:not(.close-link),
.shepherd-content .shepherd-footer .questions .shepherd-button:not(.close-link) {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    margin-top: 10px
}

.questions .btn {
    background: #144b9e;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    margin-top: 10px;
}

.zammad-form-control {
    margin-top: 6px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.recent {
    padding: 200px 0 130px;
    background: linear-gradient(180deg, rgba(237, 243, 250, 0) 0%, #EDF3FA 100%);
}

.recent-target {
    background: rgba(255, 130, 220, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
    color: #FF2EC4;
    font-size: 12px;
    line-height: 30px;
}

.mr-5 {
    margin-right: 30px;
}

.ml-5 {
    margin-left: 30px;
}









.eosc-back-search-bar {
    margin-top: -18px;
    height: 60px !important;
    text-decoration: none;
    font-weight: 100;
    background: #000 url('img/top-line-bg.jpg') top center !important;
    background-size: 100% auto;
}

.suggestions {
    text-align: left;
    position: absolute;
    top: 40px;
    max-width: 730px;
    left: 20px;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.eosc-back-link {
    padding-top: 17px;
}

.eosc-back-link
    .chevron-left {
        background-image: url('img/ico_back.svg') !important;
        background-size: 10px auto;
        background-position: 0 100% !important;
        margin: 0 3px 0 0 !important;
        width: 13px !important;
    }


.container--xxl {
    max-width: 881px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 782px;
    margin-bottom: 48px;
    padding-right: 20px;
}

.img_placholder {
    text-align: center;
    padding-bottom: 24px;
    width: 882px;
    height: 340px;
}

.article_title {
    font-size: 24px;
    color: #EDF4FF;
    text-align: left;
    padding-top: 140px;
    max-width: 561px;
    margin-bottom: 18px;
    line-height: normal;
}

.article_title_box {
    font-size: 20px;
    font-weight: 400;
    color: #2255A4;
    padding-top: 20px;
    padding-left: 16px;
    margin-bottom: 0.3rem;
}

.article_paragraph_header {
    font-size: 20px;
    font-weight: 400;
    color: #000A64;
    padding-top: 20px;
}

.article_tag {
    background: #edf4ff;
    color: #000A64;
    padding: 3px 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
}

.box {
    width: 243px;
    height: 137px;
    background-color: #F2F3F6;
    stroke: #EDF4FF;
    border-radius: 8px;
}

.img_placholder {
    width: 882px;
    height: 338px;
    margin: auto;
}

.article_tags_container {
    display: flex;
    gap: 8px;
}

.article_header_auth {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    font-size: 12px;
}

.article_header_auth p {
    margin-bottom: 0;
    color: #EDF4FF;
}

.article_info_container {
    display: flex;
    gap: 10px;
}

.article_info {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #EDF4FF;
}

.article_info span {
    display: flex; gap: 5px;
}

.fotografika {
    width: 620px;
    margin: 8px 0 8px 0;

}

.fotografika_container {
    padding: 24px 0 2px 0;
}

.fotografika.w620h423 {
    height: 423px;
}

.fotografika.w620h292 {
    height: 292px;
}

.fotografika_container p {
    font-size: 12px;
    color: #848484;
    padding-bottom: 9px;
    margin-top: 6px;
}

.author_desc_container {
    padding-top: 26px;
    padding-bottom: 48px;
}

.author_desc_name {
    font-size: 16px;
    padding-top: 14px;
    margin-bottom: -8px;
}

.author_desc_role {
    margin-bottom: 5px;
}

.author_desc_role span {
    font-size: 12px;
    color: #6A6A6A;
}

.author_desc_about {
    font-size: 12px;
    color: #6A6A6A;
    line-height: normal;
    padding-bottom: 80px;
}

.column {
    padding: 24px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.suggested {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.details_container span {
    padding-top: 2px;
}

.h6_next {
    margin-top: 10px;
}

.article_desc {
    font-size: 12px;
    color: black;
    padding-left: 16px;
    line-height: normal;
    margin-bottom: 0;
    max-width: 170px;
}

.article_blue_arrow {
    position: relative;
    float: right;
    left: -10px;
    top: 94px;
}

.article_link {
    color: #000A64!important;
}

.article_link :hover {
    color: #000A64!important;
}

.article_link :visited {
    color: #000A64!important;
}

.article_link :active {
    color: #000A64!important;
}

.article_link :link {
    color: #000A64!important;
}

ul {
    margin-top: 0;
    margin-bottom: .2rem;
}

ul li {
    font-size: 12px;
    line-height: normal;
    color: white;
}

.article_bumbs li {
    color: black;
    font-size: 16px;
    padding-bottom: .5rem;
    line-height: 1.4rem;
}

.redirect_article_box {
    display: block;
    width: 100%;
    height: 100%;
}

.box_article_img {
    position: relative;
    left: 200px;
    bottom: -10px;
}

.how_to {
    font-size: 16px;
    margin-bottom: .5rem;
}

.auth_face {
    width: 64px;
    height: 64px;
}

.articles {
    margin-top: 55px;
}

.articles-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-bottom: 65px;
}

.article-box {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.article-box:hover {
    border: 1px solid #010B65;
}
.article-title {
    color: #010E87;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}
.article-title:hover {
    color: #010B65;
}
.article-desc {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 24px; /* 150% */
}

.article-tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.article-tags div {
    padding: 4px 8px;
    color: #010E87;
    background: #EDF4FF;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.article-meta {
    display: flex;
    column-gap: 20px;
    color: #667085;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.article-meta .article-author img {
    width: 24px;
    margin-right: 10px;
}

.article-date, .article-time {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    line-height: 16px;
    align-items: center;
}

.article-media {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 245px;
    background: #0A0E38 url('img/article-media-bg.jpg') no-repeat 100% 50%;
}

.article-media-txt {
    position: absolute;
    top: 25px;
    max-width: 495px;
    left: 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 122%; /* 24.4px */
}

.article-media-cta {
    padding: 15px 30px 15px 30px;
    position: absolute;
    bottom: 25px;
    right: 0;
    background: #FFF;
    color: #010E87;
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;
}

.right-header {
    margin-top: 55px;
}

.topic-items-box {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.topic-items-box div {
    padding: 4px 8px;
    color: #010E87;
    background: #EDF4FF;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.explore-link {
    display: flex;
    padding: 24px 24px 62px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    margin-bottom:25px;
    border: 1px solid #D0D5DD;
}

.explore-link:hover {
    border: 1px solid #010B65;
}

.explore-title {
    display: flex;
    color: #010E87;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.explore-link:hover .explore-title {
    font-weight: 600;
    color: #010B65;
}

.explore-title img {
    width: 27px;
    height: auto;
    margin-right: 12px;
}

.explore-desc {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.explore-arrow {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 35px;
    height: 35px;
    background: url('img/icon-more.svg');
    background-size: 35px 35px;
}

.explore-link:hover .explore-arrow {
    background: url('img/icon-more-hover.svg');
    background-size: 35px 35px;
}

.social-box {
    text-align: center;
    margin-bottom: 50px;
}

.social-buttons {
    display: flex;
    margin-top: 20px;
    column-gap: 30px;
    justify-content: center;
}

.social-button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    color: #344054;
    font-size: 14px;
    font-weight: 600;
}

.social-button:hover {
    border: 1px solid #D0D5DD;
    background: #F9FAFB;
    color: #344054;
}

@media (max-width:992px) {

    .logo-box {
        margin-bottom: 25px;
    }

    .heading .container {
        height: auto;
    }

    .feature-wrapper {
        position: relative;
        bottom: auto;
        flex-direction: column;
    }

    h1 {
        font-size: 25px;
        line-height: 32px;
    }
    .intro-text {
        max-width: 90%;
        font-size: 14px;
        line-height: 19px;
    }
    .search-box {
        margin: 28px auto 60px;
        width: 80%;
    }

    .learn {
        padding: 70px 0 0;
    }

    .feature-box {
        padding: 20px 24px 25px 24px;
    }
    .feature-icon {
        float: left;
        text-align: center;
        padding-left: 0;
        margin-bottom: 25px;
    }
    .feature-title {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
    }

    .feature-desc {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    .feature-more {
        display: none;
    }
    .learn-wrapper .mb-4 {
        margin-bottom: 0 !important;
    }

    .eosc-navy {
        margin-top: 80px !important;
    }
    .eosc-navy h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .recent,
    .trainings {
        padding: 60px 0 50px;
    }

    .questions {
        padding: 60px 0 50px;
    }

    .ml-5,
    .mr-5 {
        margin: 0;
    }

    .trainings h3 {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 35px;
        color: #333;
    }

    .more-link {
        position: relative;
        top: 0;
        right: 0;
        text-align: left;
        font-size: 18px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
    }

    .contact-form {
        margin-top: 45px;
    }

    .article-meta {
        margin-bottom: 10px;
    }

    .article-title {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .article-desc {
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .article-tags {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

}